In [ ]:
import pandas as pd
a=pd.Series([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]) 
c=pd.Series(["junior","manager","senior","junior","manager"])
b=pd.get_dummies(a)
d=pd.get_dummies(c)
a 
b 
c
d

   junior  manager  senior
0    True    False   False
1   False     True   False
2   False    False    True
3    True    False   False
4   False     True   False

first take one column and understand and use getdummies dont use for loop if columntype==interger use median and analyze categories,missing value and suitable which measure can be used

In [19]:
import pandas as pd
df=pd.read_csv(r"C:\Users\Nishath Tabassum\Downloads\loan_approved.csv")
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status (Approved)
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [9]:
col = df["Loan_ID"]
print("Data Type:", col.dtype)
if col.dtype == "object":
    print("Column Type: Nominal Categorical")
    print("Unique Values:", col.unique())
elif col.dtype in ["int64", "int32"]:
    print("Column Type: Discrete Numeric")
elif col.dtype in ["float64", "float32"]:
    print("Column Type: Continuous Numeric")
print("Missing Values:", col.isnull().sum())
# Missing value handling
if col.dtype == "object":
    mode_value = col.mode()[0]
    df["Loan_ID_filled"] = col.fillna(mode_value)
    print("Missing filled with MODE:", mode_value)
# Category analysis
if col.dtype == "object":
    print("Value Counts:")
    print(col.value_counts())
# Summary stats
print("Summary Statistics:")
print(col.describe())
# One-hot encoding
if col.dtype == "object":
    dummies = pd.get_dummies(col, prefix="Loan_ID")
    print("One-Hot Encoding:")
    print(dummies.head())

Data Type: object
Column Type: Nominal Categorical
Unique Values: ['LP001002' 'LP001003' 'LP001005' 'LP001006' 'LP001008' 'LP001011'
 'LP001013' 'LP001014' 'LP001018' 'LP001020' 'LP001024' 'LP001027'
 'LP001028' 'LP001029' 'LP001030' 'LP001032' 'LP001034' 'LP001036'
 'LP001038' 'LP001041' 'LP001043' 'LP001046' 'LP001047' 'LP001050'
 'LP001052' 'LP001066' 'LP001068' 'LP001073' 'LP001086' 'LP001087'
 'LP001091' 'LP001095' 'LP001097' 'LP001098' 'LP001100' 'LP001106'
 'LP001109' 'LP001112' 'LP001114' 'LP001116' 'LP001119' 'LP001120'
 'LP001123' 'LP001131' 'LP001136' 'LP001137' 'LP001138' 'LP001144'
 'LP001146' 'LP001151' 'LP001155' 'LP001157' 'LP001164' 'LP001179'
 'LP001186' 'LP001194' 'LP001195' 'LP001197' 'LP001198' 'LP001199'
 'LP001205' 'LP001206' 'LP001207' 'LP001213' 'LP001222' 'LP001225'
 'LP001228' 'LP001233' 'LP001238' 'LP001241' 'LP001243' 'LP001245'
 'LP001248' 'LP001250' 'LP001253' 'LP001255' 'LP001256' 'LP001259'
 'LP001263' 'LP001264' 'LP001265' 'LP001266' 'LP001267' 'LP001273'
 'LP001275' 'LP001279' 'LP001280' 'LP001282' 'LP001289' 'LP001310'
 'LP001316' 'LP001318' 'LP001319' 'LP001322' 'LP001325' 'LP001326'
 'LP001327' 'LP001333' 'LP001334' 'LP001343' 'LP001345' 'LP001349'
 'LP001350' 'LP001356' 'LP001357' 'LP001367' 'LP001369' 'LP001370'
 'LP001379' 'LP001384' 'LP001385' 'LP001387' 'LP001391' 'LP001392'
 'LP001398' 'LP001401' 'LP001404' 'LP001405' 'LP001421' 'LP001422'
 'LP001426' 'LP001430' 'LP001431' 'LP001432' 'LP001439' 'LP001443'
 'LP001448' 'LP001449' 'LP001451' 'LP001465' 'LP001469' 'LP001473'
 'LP001478' 'LP001482' 'LP001487' 'LP001488' 'LP001489' 'LP001491'
 'LP001492' 'LP001493' 'LP001497' 'LP001498' 'LP001504' 'LP001507'
 'LP001508' 'LP001514' 'LP001516' 'LP001518' 'LP001519' 'LP001520'
 'LP001528' 'LP001529' 'LP001531' 'LP001532' 'LP001535' 'LP001536'
 'LP001541' 'LP001543' 'LP001546' 'LP001552' 'LP001560' 'LP001562'
 'LP001565' 'LP001570' 'LP001572' 'LP001574' 'LP001577' 'LP001578'
 'LP001579' 'LP001580' 'LP001581' 'LP001585' 'LP001586' 'LP001594'
 'LP001603' 'LP001606' 'LP001608' 'LP001610' 'LP001616' 'LP001630'
 'LP001633' 'LP001634' 'LP001636' 'LP001637' 'LP001639' 'LP001640'
 'LP001641' 'LP001643' 'LP001644' 'LP001647' 'LP001653' 'LP001656'
 'LP001657' 'LP001658' 'LP001664' 'LP001665' 'LP001666' 'LP001669'
 'LP001671' 'LP001673' 'LP001674' 'LP001677' 'LP001682' 'LP001688'
 'LP001691' 'LP001692' 'LP001693' 'LP001698' 'LP001699' 'LP001702'
 'LP001708' 'LP001711' 'LP001713' 'LP001715' 'LP001716' 'LP001720'
 'LP001722' 'LP001726' 'LP001732' 'LP001734' 'LP001736' 'LP001743'
 'LP001744' 'LP001749' 'LP001750' 'LP001751' 'LP001754' 'LP001758'
 'LP001760' 'LP001761' 'LP001765' 'LP001768' 'LP001770' 'LP001776'
 'LP001778' 'LP001784' 'LP001786' 'LP001788' 'LP001790' 'LP001792'
 'LP001798' 'LP001800' 'LP001806' 'LP001807' 'LP001811' 'LP001813'
 'LP001814' 'LP001819' 'LP001824' 'LP001825' 'LP001835' 'LP001836'
 'LP001841' 'LP001843' 'LP001844' 'LP001846' 'LP001849' 'LP001854'
 'LP001859' 'LP001864' 'LP001865' 'LP001868' 'LP001870' 'LP001871'
 'LP001872' 'LP001875' 'LP001877' 'LP001882' 'LP001883' 'LP001884'
 'LP001888' 'LP001891' 'LP001892' 'LP001894' 'LP001896' 'LP001900'
 'LP001903' 'LP001904' 'LP001907' 'LP001908' 'LP001910' 'LP001914'
 'LP001915' 'LP001917' 'LP001922' 'LP001924' 'LP001925' 'LP001926'
 'LP001931' 'LP001935' 'LP001936' 'LP001938' 'LP001940' 'LP001945'
 'LP001947' 'LP001949' 'LP001953' 'LP001954' 'LP001955' 'LP001963'
 'LP001964' 'LP001972' 'LP001974' 'LP001977' 'LP001978' 'LP001990'
 'LP001993' 'LP001994' 'LP001996' 'LP001998' 'LP002002' 'LP002004'
 'LP002006' 'LP002008' 'LP002024' 'LP002031' 'LP002035' 'LP002036'
 'LP002043' 'LP002050' 'LP002051' 'LP002053' 'LP002054' 'LP002055'
 'LP002065' 'LP002067' 'LP002068' 'LP002082' 'LP002086' 'LP002087'
 'LP002097' 'LP002098' 'LP002100' 'LP002101' 'LP002103' 'LP002106'
 'LP002110' 'LP002112' 'LP002113' 'LP002114' 'LP002115' 'LP002116'
 'LP002119' 'LP002126' 'LP002128' 'LP002129' 'LP002130' 'LP002131'
 'LP002137' 'LP002138' 'LP002139' 'LP002140' 'LP002141' 'LP002142'
 'LP002143' 'LP002144' 'LP002149' 'LP002151' 'LP002158' 'LP002160'
 'LP002161' 'LP002170' 'LP002175' 'LP002178' 'LP002180' 'LP002181'
 'LP002187' 'LP002188' 'LP002190' 'LP002191' 'LP002194' 'LP002197'
 'LP002201' 'LP002205' 'LP002209' 'LP002211' 'LP002219' 'LP002223'
 'LP002224' 'LP002225' 'LP002226' 'LP002229' 'LP002231' 'LP002234'
 'LP002236' 'LP002237' 'LP002239' 'LP002243' 'LP002244' 'LP002250'
 'LP002255' 'LP002262' 'LP002263' 'LP002265' 'LP002266' 'LP002272'
 'LP002277' 'LP002281' 'LP002284' 'LP002287' 'LP002288' 'LP002296'
 'LP002297' 'LP002300' 'LP002301' 'LP002305' 'LP002308' 'LP002314'
 'LP002315' 'LP002317' 'LP002318' 'LP002319' 'LP002328' 'LP002332'
 'LP002335' 'LP002337' 'LP002341' 'LP002342' 'LP002345' 'LP002347'
 'LP002348' 'LP002357' 'LP002361' 'LP002362' 'LP002364' 'LP002366'
 'LP002367' 'LP002368' 'LP002369' 'LP002370' 'LP002377' 'LP002379'
 'LP002386' 'LP002387' 'LP002390' 'LP002393' 'LP002398' 'LP002401'
 'LP002403' 'LP002407' 'LP002408' 'LP002409' 'LP002418' 'LP002422'
 'LP002424' 'LP002429' 'LP002434' 'LP002435' 'LP002443' 'LP002444'
 'LP002446' 'LP002447' 'LP002448' 'LP002449' 'LP002453' 'LP002455'
 'LP002459' 'LP002467' 'LP002472' 'LP002473' 'LP002478' 'LP002484'
 'LP002487' 'LP002489' 'LP002493' 'LP002494' 'LP002500' 'LP002501'
 'LP002502' 'LP002505' 'LP002515' 'LP002517' 'LP002519' 'LP002522'
 'LP002524' 'LP002527' 'LP002529' 'LP002530' 'LP002531' 'LP002533'
 'LP002534' 'LP002536' 'LP002537' 'LP002541' 'LP002543' 'LP002544'
 'LP002545' 'LP002547' 'LP002555' 'LP002556' 'LP002560' 'LP002562'
 'LP002571' 'LP002582' 'LP002585' 'LP002586' 'LP002587' 'LP002588'
 'LP002600' 'LP002602' 'LP002603' 'LP002606' 'LP002615' 'LP002618'
 'LP002619' 'LP002622' 'LP002624' 'LP002625' 'LP002626' 'LP002634'
 'LP002637' 'LP002640' 'LP002643' 'LP002648' 'LP002652' 'LP002659'
 'LP002670' 'LP002682' 'LP002683' 'LP002684' 'LP002689' 'LP002690'
 'LP002692' 'LP002693' 'LP002697' 'LP002699' 'LP002705' 'LP002706'
 'LP002714' 'LP002716' 'LP002717' 'LP002720' 'LP002723' 'LP002729'
 'LP002731' 'LP002732' 'LP002734' 'LP002738' 'LP002739' 'LP002740'
 'LP002741' 'LP002743' 'LP002753' 'LP002755' 'LP002757' 'LP002767'
 'LP002768' 'LP002772' 'LP002776' 'LP002777' 'LP002778' 'LP002784'
 'LP002785' 'LP002788' 'LP002789' 'LP002792' 'LP002794' 'LP002795'
 'LP002798' 'LP002804' 'LP002807' 'LP002813' 'LP002820' 'LP002821'
 'LP002832' 'LP002833' 'LP002836' 'LP002837' 'LP002840' 'LP002841'
 'LP002842' 'LP002847' 'LP002855' 'LP002862' 'LP002863' 'LP002868'
 'LP002872' 'LP002874' 'LP002877' 'LP002888' 'LP002892' 'LP002893'
 'LP002894' 'LP002898' 'LP002911' 'LP002912' 'LP002916' 'LP002917'
 'LP002925' 'LP002926' 'LP002928' 'LP002931' 'LP002933' 'LP002936'
 'LP002938' 'LP002940' 'LP002941' 'LP002943' 'LP002945' 'LP002948'
 'LP002949' 'LP002950' 'LP002953' 'LP002958' 'LP002959' 'LP002960'
 'LP002961' 'LP002964' 'LP002974' 'LP002978' 'LP002979' 'LP002983'
 'LP002984' 'LP002990']
Missing Values: 0
Missing filled with MODE: LP001002
Value Counts:
Loan_ID
LP002990    1
LP001002    1
LP001003    1
LP001005    1
LP001006    1
           ..
LP001024    1
LP001020    1
LP001018    1
LP001014    1
LP001013    1
Name: count, Length: 614, dtype: int64
Summary Statistics:
count          614
unique         614
top       LP002990
freq             1
Name: Loan_ID, dtype: object
One-Hot Encoding:
   Loan_ID_LP001002  Loan_ID_LP001003  Loan_ID_LP001005  Loan_ID_LP001006  \
0              True             False             False             False
1             False              True             False             False
2             False             False              True             False
3             False             False             False              True
4             False             False             False             False

   Loan_ID_LP001008  Loan_ID_LP001011  Loan_ID_LP001013  Loan_ID_LP001014  \
0             False             False             False             False
1             False             False             False             False
2             False             False             False             False
3             False             False             False             False
4              True             False             False             False

   Loan_ID_LP001018  Loan_ID_LP001020  ...  Loan_ID_LP002959  \
0             False             False  ...             False
1             False             False  ...             False
2             False             False  ...             False
3             False             False  ...             False
4             False             False  ...             False

   Loan_ID_LP002960  Loan_ID_LP002961  Loan_ID_LP002964  Loan_ID_LP002974  \
0             False             False             False             False
1             False             False             False             False
2             False             False             False             False
3             False             False             False             False
4             False             False             False             False

   Loan_ID_LP002978  Loan_ID_LP002979  Loan_ID_LP002983  Loan_ID_LP002984  \
0             False             False             False             False
1             False             False             False             False
2             False             False             False             False
3             False             False             False             False
4             False             False             False             False

   Loan_ID_LP002990
0             False
1             False
2             False
3             False
4             False

[5 rows x 614 columns]

In [10]:
col = df["Gender"]
print("Data Type:", col.dtype)
if col.dtype == "object":
    print("Column Type: Nominal Categorical")
    print("Unique Values:", col.unique())
print("Missing Values:", col.isnull().sum())
if col.dtype == "object":
    mode_value = col.mode()[0]
    df["Gender_filled"] = col.fillna(mode_value)
    print("Missing filled with MODE:", mode_value)
if col.dtype == "object":
    print("Value Counts:")
    print(col.value_counts())
print("Summary Statistics:")
print(col.describe())
if col.dtype == "object":
    dummies=pd.get_dummies(df["Gender_filled"], prefix="Gender")
    print("One-Hot Encoding:")
    print(dummies.head())

Data Type: object
Column Type: Nominal Categorical
Unique Values: ['Male' 'Female' nan]
Missing Values: 13
Missing filled with MODE: Male
Value Counts:
Gender
Male      489
Female    112
Name: count, dtype: int64
Summary Statistics:
count      601
unique       2
top       Male
freq       489
Name: Gender, dtype: object
One-Hot Encoding:
   Gender_Female  Gender_Male
0          False         True
1          False         True
2          False         True
3          False         True
4          False         True

In [ ]:
col = df["Married"]
print("Data Type:", col.dtype)
if col.dtype == "object":
    print("Column Type: Nominal Categorical")
    print("Unique Values:", col.unique())
print("Missing Values:", col.isnull().sum())
if col.dtype == "object":
    mode_value = col.mode()[0]
    df["Married_filled"] = col.fillna(mode_value)
    print("Missing filled with MODE:", mode_value)
if col.dtype == "object":
    print("Value Counts:")
    print(col.value_counts())
print("Summary Statistics:")
print(col.describe())
if col.dtype == "object":
    dummies = pd.get_dummies(df["Married_filled"], prefix="Married")
    print("One-Hot Encoding:")
    print(dummies.head())

Data Type: object
Column Type: Nominal Categorical
Unique Values: ['No' 'Yes' nan]
Missing Values: 3
Missing filled with MODE: Yes

Value Counts:
Married
Yes    398
No     213
Name: count, dtype: int64

Summary Statistics:
count     611
unique      2
top       Yes
freq      398
Name: Married, dtype: object

In [ ]:
col = df["Dependents"]
print("Data Type:", col.dtype)
if col.dtype == "object":
    print("Column Type: Ordinal")
    print("Unique Values:", col.unique())
print("Missing Values:", col.isnull().sum())
if col.dtype == "object":
    mode_value = col.mode()[0]
    df["Dependents_filled"] = col.fillna(mode_value)
    print("Missing filled with MODE:", mode_value)
print("Value Counts:")
print(col.value_counts())
print("Summary Statistics:")
print(col.describe())
# Label encoding for ordinal
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df["Dependents_label"] = le.fit_transform(df["Dependents_filled"])
print("Label Encoded Mapping:")
print(dict(zip(le.classes_, le.transform(le.classes_))))

Data Type: object
Column Type: Ordinal
Unique Values: ['0' '1' '2' '3+' nan]
Missing Values: 15
Missing filled with MODE: 0
Value Counts:
Dependents
0     345
1     102
2     101
3+     51
Name: count, dtype: int64
Summary Statistics:
count     599
unique      4
top         0
freq      345
Name: Dependents, dtype: object
Label Encoded Mapping:
{'0': np.int64(0), '1': np.int64(1), '2': np.int64(2), '3+': np.int64(3)}

In [ ]:
col = df["Education"]
print("Data Type:", col.dtype)
print("Column Type: Nominal")
print("Unique Values:", col.unique())
print("Missing Values:", col.isnull().sum())
mode_value = col.mode()[0]
df["Education_filled"] = col.fillna(mode_value)
print("Missing filled with MODE:", mode_value)
print("Value Counts:")
print(col.value_counts())
print("Summary Statistics:")
print(col.describe())
dummies = pd.get_dummies(df["Education_filled"], prefix="Education")
print("One-Hot Encoding:")
print(dummies.head())

Data Type: object
Column Type: Nominal
Unique Values: ['Graduate' 'Not Graduate']
Missing Values: 0
Missing filled with MODE: Graduate
Value Counts:
Education
Graduate        480
Not Graduate    134
Name: count, dtype: int64
Summary Statistics:
count          614
unique           2
top       Graduate
freq           480
Name: Education, dtype: object
One-Hot Encoding:
   Education_Graduate  Education_Not Graduate
0                True                   False
1                True                   False
2                True                   False
3               False                    True
4                True                   False

In [ ]:
col = df["Self_Employed"]
print("Data Type:", col.dtype)
print("Column Type: Nominal")
print("Unique Values:", col.unique())
print("Missing Values:", col.isnull().sum())
mode_value = col.mode()[0]
df["Self_Employed_filled"] = col.fillna(mode_value)
print("Missing filled with MODE:", mode_value)
print("Value Counts:")
print(col.value_counts())
print("Summary Statistics:")
print(col.describe())
dummies = pd.get_dummies(df["Self_Employed_filled"], prefix="Self_Employed")
print("One-Hot Encoding:")
print(dummies.head())

Data Type: object
Column Type: Nominal
Unique Values: ['No' 'Yes' nan]
Missing Values: 32
Missing filled with MODE: No
Value Counts:
Self_Employed
No     500
Yes     82
Name: count, dtype: int64
Summary Statistics:
count     582
unique      2
top        No
freq      500
Name: Self_Employed, dtype: object
One-Hot Encoding:
   Self_Employed_No  Self_Employed_Yes
0              True              False
1              True              False
2             False               True
3              True              False
4              True              False

In [ ]:
col = df["ApplicantIncome"]
print("Data Type:", col.dtype)
print("Column Type: Continuous Numeric")
print("Missing Values:", col.isnull().sum())
median_value = col.median()
df["ApplicantIncome_filled"] = col.fillna(median_value)
print("Missing filled with MEDIAN:", median_value)
print("Summary Statistics:")
print(col.describe())

Data Type: int64
Column Type: Continuous Numeric
Missing Values: 0
Missing filled with MEDIAN: 3812.5
Summary Statistics:
count      614.000000
mean      5403.459283
std       6109.041673
min        150.000000
25%       2877.500000
50%       3812.500000
75%       5795.000000
max      81000.000000
Name: ApplicantIncome, dtype: float64

In [ ]:
col = df["CoapplicantIncome"]
print("Data Type:", col.dtype)
print("Column Type: Continuous Numeric")
print("Missing Values:", col.isnull().sum())
median_value = col.median()
df["CoapplicantIncome_filled"] = col.fillna(median_value)
print("Missing filled with MEDIAN:", median_value)
print("Summary Statistics:")
print(col.describe())

Data Type: float64
Column Type: Continuous Numeric
Missing Values: 0
Missing filled with MEDIAN: 1188.5
Summary Statistics:
count      614.000000
mean      1621.245798
std       2926.248369
min          0.000000
25%          0.000000
50%       1188.500000
75%       2297.250000
max      41667.000000
Name: CoapplicantIncome, dtype: float64

In [ ]:
col = df["LoanAmount"]
print("Data Type:", col.dtype)
print("Column Type: Continuous Numeric")
print("Missing Values:", col.isnull().sum())
median_value = col.median()
df["LoanAmount_filled"] = col.fillna(median_value)
print("Missing filled with MEDIAN:", median_value)
print("Summary Statistics:")
print(col.describe())

Data Type: float64
Column Type: Continuous Numeric
Missing Values: 22
Missing filled with MEDIAN: 128.0
Summary Statistics:
count    592.000000
mean     146.412162
std       85.587325
min        9.000000
25%      100.000000
50%      128.000000
75%      168.000000
max      700.000000
Name: LoanAmount, dtype: float64

In [ ]:
col = df["Loan_Amount_Term"]
print("Data Type:", col.dtype)
print("Column Type: Continuous Numeric")
print("Missing Values:", col.isnull().sum())
median_value = col.median()
df["Loan_Amount_Term_filled"] = col.fillna(median_value)
print("Missing filled with MEDIAN:", median_value)
print("Summary Statistics:")
print(col.describe())

Data Type: float64
Column Type: Continuous Numeric
Missing Values: 14
Missing filled with MEDIAN: 360.0
Summary Statistics:
count    600.00000
mean     342.00000
std       65.12041
min       12.00000
25%      360.00000
50%      360.00000
75%      360.00000
max      480.00000
Name: Loan_Amount_Term, dtype: float64

In [ ]:
col = df["Credit_History"]
print("Data Type:", col.dtype)
print("Column Type: Discrete Numeric / Binary")
print("Missing Values:", col.isnull().sum())
median_value = col.median()
df["Credit_History_filled"] = col.fillna(median_value)
print("Missing filled with MEDIAN:", median_value)
print("Value Counts:")
print(col.value_counts())
print("Summary Statistics:")
print(col.describe())

Data Type: float64
Column Type: Discrete Numeric / Binary
Missing Values: 50
Missing filled with MEDIAN: 1.0
Value Counts:
Credit_History
1.0    475
0.0     89
Name: count, dtype: int64
Summary Statistics:
count    564.000000
mean       0.842199
std        0.364878
min        0.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: Credit_History, dtype: float64

In [ ]:
col = df["Property_Area"]
print("Data Type:", col.dtype)
print("Column Type: Nominal")
print("Unique Values:", col.unique())
print("Missing Values:", col.isnull().sum())
mode_value = col.mode()[0]
df["Property_Area_filled"] = col.fillna(mode_value)
print("Missing filled with MODE:", mode_value)
print("Value Counts:")
print(col.value_counts())
print("Summary Statistics:")
print(col.describe())
dummies = pd.get_dummies(df["Property_Area_filled"], prefix="Property_Area")
print("One-Hot Encoding:")
print(dummies.head())

Data Type: object
Column Type: Nominal
Unique Values: ['Urban' 'Rural' 'Semiurban']
Missing Values: 0
Missing filled with MODE: Semiurban
Value Counts:
Property_Area
Semiurban    233
Urban        202
Rural        179
Name: count, dtype: int64
Summary Statistics:
count           614
unique            3
top       Semiurban
freq            233
Name: Property_Area, dtype: object
One-Hot Encoding:
   Property_Area_Rural  Property_Area_Semiurban  Property_Area_Urban
0                False                    False                 True
1                 True                    False                False
2                False                    False                 True
3                False                    False                 True
4                False                    False                 True

In [24]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,...,Gender_filled,Dependents_filled,Dependents_label,LoanAmount_filled,Loan_Amount_Term_filled,Education_filled,Self_Employed_filled,ApplicantIncome_filled,CoapplicantIncome_filled,Property_Area_filled
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,...,Male,0,0,128.0,360.0,Graduate,No,5849,0.0,Urban
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,...,Male,1,1,128.0,360.0,Graduate,No,4583,1508.0,Rural
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,...,Male,0,0,66.0,360.0,Graduate,Yes,3000,0.0,Urban
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,...,Male,0,0,120.0,360.0,Not Graduate,No,2583,2358.0,Urban
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,...,Male,0,0,141.0,360.0,Graduate,No,6000,0.0,Urban

In [27]:
df.to_csv(r"C:\Users\Nishath Tabassum\Downloads\preprocessed_loan_approved.csv", index=False)

Z-Score Formula

z = (X - μ) / σ

In [34]:
z=(df["ApplicantIncome"]-df["ApplicantIncome"].mean())/df["ApplicantIncome"].std()
z

0      0.072931
1     -0.134302
2     -0.393427
3     -0.461686
4      0.097649
         ...
609   -0.409796
610   -0.212383
611    0.436818
612    0.356773
613   -0.134302
Name: ApplicantIncome, Length: 614, dtype: float64

In [36]:
z.max()

np.float64(12.374533479765514)

In [37]:
z.min()

np.float64(-0.8599481824249571)

In [38]:
df["CoapplicantIncome"].kurtosis()

np.float64(84.95638421103374)

In [39]:
df["CoapplicantIncome"].skew()

np.float64(7.491531216657306)

In [40]:
from sklearn.preprocessing import PowerTransformer
trans=PowerTransformer(method='yeo-johnson')

In [43]:
la_trans=trans.fit_transform(df[["CoapplicantIncome"]])
la_trans.shape

(614, 1)

In [44]:
print("skewness",pd.Series(la_trans.reshape(614,)).skew())
print("Kurtosis",pd.Series(la_trans.reshape(614,)).kurtosis())

skewness -0.14564645710551902
Kurtosis -1.8778432766544493

In [49]:
import numpy as np
np.log(df["LoanAmount"])

0           NaN
1      4.852030
2      4.189655
3      4.787492
4      4.948760
         ...
609    4.262680
610    3.688879
611    5.533389
612    5.231109
613    4.890349
Name: LoanAmount, Length: 614, dtype: float64

In [50]:
df["LoanAmount"]**(1/3)

0           NaN
1      5.039684
2      4.041240
3      4.932424
4      5.204828
         ...
609    4.140818
610    3.419952
611    6.324704
612    5.718479
613    5.104469
Name: LoanAmount, Length: 614, dtype: float64

# Customer Analysis: Hypothesis Testing
This notebook demonstrates various **statistical tests** used in customer analysis:
1. **Z-Test**
2. **T-Test** (Independent and Paired/Related)
3. **ANOVA** (Analysis of Variance)
4. **Chi-Square Test**
We will also define the **null hypothesis (H0)** and **alternative hypothesis (H1)** for each test.

In [55]:
import pandas as pd
import numpy as np
from scipy import stats
import statsmodels.api as sm
from statsmodels.stats.weightstats import ztest
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [56]:
np.random.seed(42)
data = pd.DataFrame({
    'CustomerID': range(1, 21),
    'Age': np.random.randint(18, 60, 20),
    'Annual_Income': np.random.randint(30000, 120000, 20),
    'Gender': np.random.choice(['Male', 'Female'], 20),
    'Region': np.random.choice(['North', 'South', 'East', 'West'], 20)
})
data.loc[data['Region']=='North', 'Spending_Score'] = np.random.randint(60, 80, data[data['Region']=='North'].shape[0])
data.loc[data['Region']=='South', 'Spending_Score'] = np.random.randint(30, 50, data[data['Region']=='South'].shape[0])
data.loc[data['Region']=='East', 'Spending_Score'] = np.random.randint(40, 60, data[data['Region']=='East'].shape[0])
data.loc[data['Region']=='West', 'Spending_Score'] = np.random.randint(70, 90, data[data['Region']=='West'].shape[0])
data.head()

   CustomerID  Age  Annual_Income Gender Region  Spending_Score
0           1   56          97969   Male   West            87.0
1           2   46          35311   Male   East            47.0
2           3   32         113104   Male   West            84.0
3           4   25          83707   Male  North            77.0
4           5   38         115305   Male   West            82.0

In [57]:
# Z-Test
spending_scores = data['Spending_Score']
z_stat, p_val = ztest(spending_scores, value=50)
print("Z-Test statistic:", z_stat)
print("P-value:", p_val)
if p_val < 0.05:
    print("Reject null hypothesis: Mean spending score is significantly different from 50")
else:
    print("Fail to reject null hypothesis: No significant difference from 50")

Z-Test statistic: 2.067106715493516
P-value: 0.03872409945835298
Reject null hypothesis: Mean spending score is significantly different from 50